/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
    font-family: 'Inter-Variable';
    src: local('Inter-Variable'),
        url(./Inter-Variable.woff2) format('woff2 supports variations'),
        url(./Inter-Variable.woff2) format('woff2-variations'),
        url(./Inter-Variable.woff) format('woff supports variations'),
        url(./Inter-Variable.woff) format('woff-variations'),
        url(./Inter-Variable.ttf) format('ttf supports variations'),
        url(./Inter-Variable.ttf) format('ttf-variations');
    font-display: swap;
    font-weight: 100 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Inter-Variable';
    src: local('Inter-Variable'),
        url(./Inter-Variable.woff2) format('woff2 supports variations'),
        url(./Inter-Variable.woff2) format('woff2-variations');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter-Variable';
    src: local('Inter-Variable'),
        url(./Inter-Variable.woff2) format('woff2 supports variations'),
        url(./Inter-Variable.woff2) format('woff2-variations');
    font-display: swap;
    font-weight: 785;
}

@font-face {
    font-family: 'Press Start 2P';
    src: local('Press Start 2P'),
        url(./PressStart2P-Regular.woff2) format('woff2'),
        url(./PressStart2P-Regular.woff) format('woff'),
        url(./PressStart2P-Regular.ttf) format('ttf');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url(./Inter-Regular.woff2) format('woff2'),
        url(./Inter-Regular.woff) format('woff'),
        url(./Inter-Regular.ttf) format('ttf');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url(./Inter-Bold.woff2) format('woff2'),
        url(./Inter-Bold.woff) format('woff'),
        url(./Inter-Bold.ttf) format('ttf');
    font-weight: bold;
    font-display: swap;
}