/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.like-icon.is-liked .core {
    fill: var(--accent-color-heart, #FF0000);
    animation: colored 0.3s ease-in-out;
}

.like-icon.is-liked .main-body {
    fill: var(--accent-color-heart, #FF0000);
    animation: colored 0.3s ease-in-out 0.06s;
}

.like-icon.is-liked .contour {
    fill: var(--accent-color-heart, #FF0000);
    animation: colored 0.3s ease-in-out 0.06s;
}

.like-icon.is-liked .heart {
    animation: scaling 0.3s ease-in 1 alternate 0.1s;
}

.like-icon.is-liked .sparks {
    animation: appearance 0.3s ease-in 1 alternate 0.3s;
}



@keyframes scaling {
    0% {
        transform: scale(1);
        transform-origin: 50% 50%;
    }

    100% {
        transform-origin: 50% 50%;
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}